*{
    background-color: rgb(103, 43, 43);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 100px;
}

button {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    margin: 30px;
    padding: 10px;
}