*{
    background-color: indianred;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    align-items: center;
    justify-content: center;
}

button {
    width: 50px;
    padding: 20px;
    font-size: 21px;
    color: snow;
    background-color: lightblue;
}