*{
    background-color: rgb(103, 43, 43);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 100px;
}

button {
    width: 80px;
    margin: 2%;
    border: 2px solid #414140;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    color: #f9f8ff;
    background-color: rgba(12, 30, 45, 0.6);
    backdrop-filter: blur(14px);
}

h3 {
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    margin: 30px;
    
}